<!DOCTYPE html>
<meta charset="utf-8" />
<!-- version 1 -->
<title>[Gen 9] National Dex AG replay: miwolboziperopero vs. skyrute</title>
<style>
html,body {font-family:Verdana, sans-serif;font-size:10pt;margin:0;padding:0;}body{padding:12px 0;} .battle-log {font-family:Verdana, sans-serif;font-size:10pt;} .battle-log-inline {border:1px solid #AAAAAA;background:#EEF2F5;color:black;max-width:640px;margin:0 auto 80px;padding-bottom:5px;} .battle-log .inner {padding:4px 8px 0px 8px;} .battle-log .inner-preempt {padding:0 8px 4px 8px;} .battle-log .inner-after {margin-top:0.5em;} .battle-log h2 {margin:0.5em -8px;padding:4px 8px;border:1px solid #AAAAAA;background:#E0E7EA;border-left:0;border-right:0;font-family:Verdana, sans-serif;font-size:13pt;} .battle-log .chat {vertical-align:middle;padding:3px 0 3px 0;font-size:8pt;} .battle-log .chat strong {color:#40576A;} .battle-log .chat em {padding:1px 4px 1px 3px;color:#000000;font-style:normal;} .chat.mine {background:rgba(0,0,0,0.05);margin-left:-8px;margin-right:-8px;padding-left:8px;padding-right:8px;} .spoiler {color:#BBBBBB;background:#BBBBBB;padding:0px 3px;} .spoiler:hover, .spoiler:active, .spoiler-shown {color:#000000;background:#E2E2E2;padding:0px 3px;} .spoiler a {color:#BBBBBB;} .spoiler:hover a, .spoiler:active a, .spoiler-shown a {color:#2288CC;} .chat code, .chat .spoiler:hover code, .chat .spoiler:active code, .chat .spoiler-shown code {border:1px solid #C0C0C0;background:#EEEEEE;color:black;padding:0 2px;} .chat .spoiler code {border:1px solid #CCCCCC;background:#CCCCCC;color:#CCCCCC;} .battle-log .rated {padding:3px 4px;} .battle-log .rated strong {color:white;background:#89A;padding:1px 4px;border-radius:4px;} .spacer {margin-top:0.5em;} .message-announce {background:#6688AA;color:white;padding:1px 4px 2px;} .message-announce a, .broadcast-green a, .broadcast-blue a, .broadcast-red a {color:#DDEEFF;} .broadcast-green {background-color:#559955;color:white;padding:2px 4px;} .broadcast-blue {background-color:#6688AA;color:white;padding:2px 4px;} .infobox {border:1px solid #6688AA;padding:2px 4px;} .infobox-limited {max-height:200px;overflow:auto;overflow-x:hidden;} .broadcast-red {background-color:#AA5544;color:white;padding:2px 4px;} .message-learn-canlearn {font-weight:bold;color:#228822;text-decoration:underline;} .message-learn-cannotlearn {font-weight:bold;color:#CC2222;text-decoration:underline;} .message-effect-weak {font-weight:bold;color:#CC2222;} .message-effect-resist {font-weight:bold;color:#6688AA;} .message-effect-immune {font-weight:bold;color:#666666;} .message-learn-list {margin-top:0;margin-bottom:0;} .message-throttle-notice, .message-error {color:#992222;} .message-overflow, .chat small.message-overflow {font-size:0pt;} .message-overflow::before {font-size:9pt;content:'...';} .subtle {color:#3A4A66;}
</style>
<div class="wrapper replay-wrapper" style="max-width:1180px;margin:0 auto">
<input type="hidden" name="replayid" value="podown-gen9nationaldexag-6008" />
<div class="battle"></div><div class="battle-log"></div><div class="replay-controls"></div><div class="replay-controls-2"></div>
<h1 style="font-weight:normal;text-align:center"><strong>[Gen 9] National Dex AG</strong><br /><a href="http://pokemonshowdown.com/users/miwolboziperopero" class="subtle" target="_blank">miwolboziperopero</a> vs. <a href="http://pokemonshowdown.com/users/skyrute" class="subtle" target="_blank">skyrute</a></h1>
<script type="text/plain" class="battle-log-data">|j|☆miwolboziperopero
|j|☆skyrute
|t:|1676784138
|gametype|singles
|player|p1|miwolboziperopero|will|
|player|p2|skyrute|boarder|
|teamsize|p1|6
|teamsize|p2|6
|gen|9
|tier|[Gen 9] National Dex AG
|rule|HP Percentage Mod: HP is shown in percentages
|rule|Endless Battle Clause: Forcing endless battles is banned
|rule|Species Clause: Limit one of each Pokémon
|rule|Item Clause: Limit one of each item
|clearpoke
|poke|p1|Beartic, M|
|poke|p1|Slowking, F|
|poke|p1|Baxcalibur, F|
|poke|p1|Gholdengo|
|poke|p1|Slowbro, M|
|poke|p1|Porygon2|
|poke|p2|Tatsugiri, F|
|poke|p2|Skeledirge, F|
|poke|p2|Zapdos|
|poke|p2|Comfey, M|
|poke|p2|Kingambit, M|
|poke|p2|Clodsire, F|
|teampreview
|
|t:|1676784146
|start
|switch|p1a: 돈이복사가된다고|Gholdengo|100\/100
|switch|p2a: Zapdos|Zapdos|100\/100
|turn|1
|
|t:|1676784150
|move|p2a: Zapdos|Volt Switch|p1a: 돈이복사가된다고
|-damage|p1a: 돈이복사가된다고|79\/100
|
|t:|1676784155
|switch|p2a: Tatsugiri|Tatsugiri, F|100\/100|[from] Volt Switch
|move|p1a: 돈이복사가된다고|Nasty Plot|p1a: 돈이복사가된다고
|-boost|p1a: 돈이복사가된다고|spa|2
|
|-heal|p1a: 돈이복사가된다고|85\/100|[from] item: Leftovers
|upkeep
|turn|2
|
|t:|1676784161
|move|p1a: 돈이복사가된다고|Shadow Ball|p2a: Tatsugiri
|-damage|p2a: Tatsugiri|37\/100
|move|p2a: Tatsugiri|Mirror Coat|p1a: 돈이복사가된다고
|-damage|p1a: 돈이복사가된다고|0 fnt
|faint|p1a: 돈이복사가된다고
|
|upkeep
|c|☆miwolboziperopero|저저게뭐노
|c|☆skyrute|이거지...
|
|t:|1676784177
|switch|p1a: 조개의왕|Slowking, F|100\/100
|turn|3
|
|t:|1676784183
|switch|p2a: Zapdos|Zapdos|100\/100
|move|p1a: 조개의왕|Future Sight|p2a: Zapdos
|-start|p1a: 조개의왕|move: Future Sight
|
|upkeep
|turn|4
|
|t:|1676784185
|move|p2a: Zapdos|Volt Switch|p1a: 조개의왕
|-supereffective|p1a: 조개의왕
|-damage|p1a: 조개의왕|57\/100
|
|t:|1676784187
|switch|p2a: Kingambit|Kingambit, M|100\/100|[from] Volt Switch
|move|p1a: 조개의왕|Chilly Reception|p1a: 조개의왕
|-weather|Snow
|c|☆skyrute|와전용기
|c|☆miwolboziperopero|포하하하
|c|☆skyrute|두렵다
|
|t:|1676784199
|switch|p1a: 무쇠톱니|Baxcalibur, F|100\/100|[from] Chilly Reception
|
|-weather|Snow|[upkeep]
|upkeep
|turn|5
|
|t:|1676784211
|move|p1a: 무쇠톱니|Dragon Dance|p1a: 무쇠톱니
|-boost|p1a: 무쇠톱니|atk|1
|-boost|p1a: 무쇠톱니|spe|1
|move|p2a: Kingambit|Iron Head|p1a: 무쇠톱니
|-supereffective|p1a: 무쇠톱니
|-damage|p1a: 무쇠톱니|45\/100
|
|-weather|Snow|[upkeep]
|-end|p2a: Kingambit|move: Future Sight
|-immune|p2a: Kingambit
|upkeep
|turn|6
|
|t:|1676784220
|-terastallize|p1a: 무쇠톱니|Fire
|-terastallize|p2a: Kingambit|Dark
|move|p1a: 무쇠톱니|Tera Blast|p2a: Kingambit
|-damage|p2a: Kingambit|44\/100
|-enditem|p2a: Kingambit|Sitrus Berry|[eat]
|-heal|p2a: Kingambit|69\/100|[from] item: Sitrus Berry
|move|p2a: Kingambit|Knock Off|p1a: 무쇠톱니
|-damage|p1a: 무쇠톱니|0 fnt
|-enditem|p1a: 무쇠톱니|Loaded Dice|[from] move: Knock Off|[of] p2a: Kingambit
|faint|p1a: 무쇠톱니
|
|-weather|Snow|[upkeep]
|upkeep
|c|☆miwolboziperopero|악~
|
|t:|1676784231
|switch|p1a: 고드름곰|Beartic, M, shiny|100\/100
|turn|7
|
|t:|1676784240
|move|p1a: 고드름곰|Superpower|p2a: Kingambit
|-supereffective|p2a: Kingambit
|-damage|p2a: Kingambit|0 fnt
|-unboost|p1a: 고드름곰|atk|1
|-unboost|p1a: 고드름곰|def|1
|faint|p2a: Kingambit
|-end|p2a: Kingambit|fallenundefined|[silent]
|
|-weather|Snow|[upkeep]
|upkeep
|
|t:|1676784245
|switch|p2a: Skeledirge|Skeledirge, F|100\/100
|turn|8
|
|t:|1676784248
|switch|p1a: 위대한조개|Slowbro, M|100\/100
|switch|p2a: Tatsugiri|Tatsugiri, F|37\/100
|
|-weather|Snow|[upkeep]
|upkeep
|turn|9
|
|t:|1676784252
|move|p2a: Tatsugiri|Draco Meteor|p1a: 위대한조개
|-damage|p1a: 위대한조개|35\/100
|-unboost|p2a: Tatsugiri|spa|2
|move|p1a: 위대한조개|Teleport|p1a: 위대한조개
|
|t:|1676784258
|switch|p1a: 고드름곰|Beartic, M, shiny|100\/100|[from] Teleport
|
|-weather|Snow|[upkeep]
|upkeep
|turn|10
|
|t:|1676784277
|switch|p2a: Skeledirge|Skeledirge, F|100\/100
|move|p1a: 고드름곰|Icicle Crash|p2a: Skeledirge
|-resisted|p2a: Skeledirge
|-damage|p2a: Skeledirge|80\/100
|
|-weather|Snow|[upkeep]
|-heal|p2a: Skeledirge|86\/100|[from] item: Leftovers
|upkeep
|turn|11
|c|☆miwolboziperopero|나도쭈잉
|
|t:|1676784283
|switch|p1a: 위대한조개|Slowbro, M|68\/100
|move|p2a: Skeledirge|Torch Song|p1a: 위대한조개
|-resisted|p1a: 위대한조개
|-damage|p1a: 위대한조개|52\/100
|-boost|p2a: Skeledirge|spa|1
|
|-weather|none
|-heal|p2a: Skeledirge|92\/100|[from] item: Leftovers
|upkeep
|turn|12
|
|t:|1676784287
|move|p2a: Skeledirge|Tera Blast|p1a: 위대한조개
|-damage|p1a: 위대한조개|24\/100
|move|p1a: 위대한조개|Teleport|p1a: 위대한조개
|
|t:|1676784295
|switch|p1a: 조개의왕|Slowking, F|91\/100|[from] Teleport
|
|-heal|p2a: Skeledirge|98\/100|[from] item: Leftovers
|upkeep
|turn|13
|
|t:|1676784302
|move|p2a: Skeledirge|Torch Song|p1a: 조개의왕
|-resisted|p1a: 조개의왕
|-damage|p1a: 조개의왕|74\/100
|-boost|p2a: Skeledirge|spa|1
|move|p1a: 조개의왕|Chilling Water|p2a: Skeledirge
|-supereffective|p2a: Skeledirge
|-damage|p2a: Skeledirge|65\/100
|-unboost|p2a: Skeledirge|atk|1
|
|-heal|p2a: Skeledirge|71\/100|[from] item: Leftovers
|upkeep
|turn|14
|
|t:|1676784309
|switch|p2a: Tatsugiri|Tatsugiri, F|37\/100
|move|p1a: 조개의왕|Chilly Reception|p1a: 조개의왕
|-weather|Snow
|
|t:|1676784312
|switch|p1a: 고드름곰|Beartic, M, shiny|100\/100|[from] Chilly Reception
|
|-weather|Snow|[upkeep]
|upkeep
|turn|15
|
|t:|1676784319
|switch|p2a: Skeledirge|Skeledirge, F|71\/100
|move|p1a: 고드름곰|Icicle Crash|p2a: Skeledirge
|-resisted|p2a: Skeledirge
|-damage|p2a: Skeledirge|50\/100
|
|-weather|Snow|[upkeep]
|-heal|p2a: Skeledirge|56\/100|[from] item: Leftovers
|upkeep
|turn|16
|
|t:|1676784335
|switch|p1a: 조개의왕|Slowking, F|100\/100
|move|p2a: Skeledirge|Slack Off|p2a: Skeledirge
|-heal|p2a: Skeledirge|100\/100
|
|-weather|Snow|[upkeep]
|upkeep
|turn|17
|
|t:|1676784340
|switch|p2a: Tatsugiri|Tatsugiri, F|37\/100
|move|p1a: 조개의왕|Chilly Reception|p1a: 조개의왕
|
|t:|1676784349
|switch|p1a: 고드름곰|Beartic, M, shiny|100\/100|[from] Chilly Reception
|
|-weather|Snow|[upkeep]
|upkeep
|turn|18
|
|t:|1676784353
|switch|p2a: Skeledirge|Skeledirge, F|100\/100
|move|p1a: 고드름곰|Liquidation|p2a: Skeledirge
|-supereffective|p2a: Skeledirge
|-damage|p2a: Skeledirge|50\/100
|-unboost|p2a: Skeledirge|def|1
|
|-weather|Snow|[upkeep]
|-heal|p2a: Skeledirge|56\/100|[from] item: Leftovers
|upkeep
|turn|19
|
|t:|1676784357
|move|p1a: 고드름곰|Liquidation|p2a: Skeledirge
|-supereffective|p2a: Skeledirge
|-damage|p2a: Skeledirge|0 fnt
|faint|p2a: Skeledirge
|
|-weather|Snow|[upkeep]
|upkeep
|
|t:|1676784361
|switch|p2a: Comfey|Comfey, M|100\/100
|turn|20
|
|t:|1676784363
|move|p1a: 고드름곰|Liquidation|p2a: Comfey
|-damage|p2a: Comfey|60\/100
|-unboost|p2a: Comfey|def|1
|-damage|p1a: 고드름곰|84\/100|[from] item: Rocky Helmet|[of] p2a: Comfey
|move|p2a: Comfey|Leech Seed|p1a: 고드름곰
|-start|p1a: 고드름곰|move: Leech Seed
|
|-weather|Snow|[upkeep]
|-damage|p1a: 고드름곰|71\/100|[from] Leech Seed|[of] p2a: Comfey
|-heal|p2a: Comfey|74\/100|[silent]
|upkeep
|turn|21
|
|t:|1676784369
|move|p1a: 고드름곰|Liquidation|p2a: Comfey
|-damage|p2a: Comfey|17\/100
|-damage|p1a: 고드름곰|55\/100|[from] item: Rocky Helmet|[of] p2a: Comfey
|move|p2a: Comfey|U-turn|p1a: 고드름곰
|-damage|p1a: 고드름곰|48\/100
|
|t:|1676784371
|switch|p2a: Tatsugiri|Tatsugiri, F|37\/100|[from] U-turn
|
|-weather|none
|-damage|p1a: 고드름곰|36\/100|[from] Leech Seed|[of] p2a: Tatsugiri
|-heal|p2a: Tatsugiri|51\/100|[silent]
|upkeep
|turn|22
|
|t:|1676784379
|switch|p1a: 조개의왕|Slowking, F|100\/100
|move|p2a: Tatsugiri|Draco Meteor|p1a: 조개의왕
|-crit|p1a: 조개의왕
|-damage|p1a: 조개의왕|27\/100
|-unboost|p2a: Tatsugiri|spa|2
|
|upkeep
|turn|23
|
|t:|1676784385
|move|p2a: Tatsugiri|Draco Meteor|p1a: 조개의왕
|-damage|p1a: 조개의왕|1\/100
|-unboost|p2a: Tatsugiri|spa|2
|move|p1a: 조개의왕|Slack Off|p1a: 조개의왕
|-heal|p1a: 조개의왕|51\/100
|
|upkeep
|turn|24
|
|t:|1676784393
|switch|p2a: Comfey|Comfey, M|17\/100
|move|p1a: 조개의왕|Slack Off|p1a: 조개의왕
|-heal|p1a: 조개의왕|100\/100
|
|upkeep
|turn|25
|
|t:|1676784395
|move|p2a: Comfey|Synthesis|p2a: Comfey
|-heal|p2a: Comfey|67\/100
|move|p1a: 조개의왕|Chilling Water|p2a: Comfey
|-damage|p2a: Comfey|48\/100
|-unboost|p2a: Comfey|atk|1
|
|upkeep
|turn|26
|
|t:|1676784399
|move|p2a: Comfey|Leech Seed|p1a: 조개의왕
|-start|p1a: 조개의왕|move: Leech Seed
|move|p1a: 조개의왕|Chilly Reception|p1a: 조개의왕
|-weather|Snow
|
|t:|1676784406
|switch|p1a: 고드름곰|Beartic, M, shiny|36\/100|[from] Chilly Reception
|
|-weather|Snow|[upkeep]
|upkeep
|turn|27
|
|t:|1676784408
|move|p2a: Comfey|Draining Kiss|p1a: 고드름곰
|-damage|p1a: 고드름곰|17\/100
|-heal|p2a: Comfey|64\/100|[from] drain|[of] p1a: 고드름곰
|move|p1a: 고드름곰|Icicle Crash|p2a: Comfey
|-damage|p2a: Comfey|5\/100
|
|-weather|Snow|[upkeep]
|upkeep
|turn|28
|
|t:|1676784411
|move|p2a: Comfey|Draining Kiss|p1a: 고드름곰
|-damage|p1a: 고드름곰|0 fnt
|-heal|p2a: Comfey|19\/100|[from] drain|[of] p1a: 고드름곰
|faint|p1a: 고드름곰
|
|-weather|Snow|[upkeep]
|upkeep
|
|t:|1676784415
|switch|p1a: 메타버스|Porygon2|100\/100
|-ability|p1a: 메타버스|Download|boost
|-boost|p1a: 메타버스|spa|1
|turn|29
|
|t:|1676784422
|switch|p2a: Clodsire|Clodsire, F|100\/100
|move|p1a: 메타버스|Ice Beam|p2a: Clodsire
|-supereffective|p2a: Clodsire
|-damage|p2a: Clodsire|79\/100
|
|-weather|Snow|[upkeep]
|-heal|p2a: Clodsire|85\/100|[from] item: Black Sludge
|upkeep
|turn|30
|
|t:|1676784426
|switch|p1a: 조개의왕|Slowking, F|100\/100
|move|p2a: Clodsire|Toxic|p1a: 조개의왕
|-status|p1a: 조개의왕|tox
|
|-weather|Snow|[upkeep]
|-heal|p2a: Clodsire|91\/100|[from] item: Black Sludge
|-damage|p1a: 조개의왕|94\/100 tox|[from] psn
|upkeep
|turn|31
|
|t:|1676784430
|move|p1a: 조개의왕|Future Sight|p2a: Clodsire
|-start|p1a: 조개의왕|move: Future Sight
|move|p2a: Clodsire|Stealth Rock|p1a: 조개의왕
|-sidestart|p1: miwolboziperopero|move: Stealth Rock
|
|-weather|Snow|[upkeep]
|-heal|p2a: Clodsire|97\/100|[from] item: Black Sludge
|-damage|p1a: 조개의왕|82\/100 tox|[from] psn
|upkeep
|turn|32
|
|t:|1676784435
|switch|p2a: Zapdos|Zapdos|100\/100
|move|p1a: 조개의왕|Chilling Water|p2a: Zapdos
|-damage|p2a: Zapdos|85\/100
|-unboost|p2a: Zapdos|atk|1
|
|-weather|Snow|[upkeep]
|-damage|p1a: 조개의왕|64\/100 tox|[from] psn
|upkeep
|turn|33
|
|t:|1676784442
|switch|p1a: 메타버스|Porygon2|100\/100
|-damage|p1a: 메타버스|88\/100|[from] Stealth Rock
|-ability|p1a: 메타버스|Download|boost
|-boost|p1a: 메타버스|spa|1
|move|p2a: Zapdos|Roost|p2a: Zapdos
|-heal|p2a: Zapdos|100\/100
|-singleturn|p2a: Zapdos|move: Roost
|
|-weather|none
|-end|p2a: Zapdos|move: Future Sight
|-damage|p2a: Zapdos|58\/100
|upkeep
|turn|34
|
|t:|1676784450
|move|p2a: Zapdos|Volt Switch|p1a: 메타버스
|-damage|p1a: 메타버스|76\/100
|
|t:|1676784452
|switch|p2a: Clodsire|Clodsire, F|97\/100|[from] Volt Switch
|move|p1a: 메타버스|Ice Beam|p2a: Clodsire
|-supereffective|p2a: Clodsire
|-damage|p2a: Clodsire|76\/100
|
|-heal|p2a: Clodsire|82\/100|[from] item: Black Sludge
|upkeep
|turn|35
|
|t:|1676784457
|switch|p1a: 조개의왕|Slowking, F|97\/100 tox
|-damage|p1a: 조개의왕|85\/100 tox|[from] Stealth Rock
|move|p2a: Clodsire|Earthquake|p1a: 조개의왕
|-damage|p1a: 조개의왕|64\/100 tox
|
|-heal|p2a: Clodsire|88\/100|[from] item: Black Sludge
|-damage|p1a: 조개의왕|58\/100 tox|[from] psn
|upkeep
|turn|36
|
|t:|1676784461
|switch|p2a: Tatsugiri|Tatsugiri, F|51\/100
|move|p1a: 조개의왕|Slack Off|p1a: 조개의왕
|-heal|p1a: 조개의왕|100\/100 tox
|
|-damage|p1a: 조개의왕|88\/100 tox|[from] psn
|upkeep
|turn|37
|
|t:|1676784466
|move|p2a: Tatsugiri|Hydro Pump|p1a: 조개의왕
|-resisted|p1a: 조개의왕
|-damage|p1a: 조개의왕|66\/100 tox
|move|p1a: 조개의왕|Chilly Reception|p1a: 조개의왕
|-weather|Snow
|
|t:|1676784473
|switch|p1a: 메타버스|Porygon2|76\/100|[from] Chilly Reception
|-damage|p1a: 메타버스|64\/100|[from] Stealth Rock
|-ability|p1a: 메타버스|Download|boost
|-boost|p1a: 메타버스|atk|1
|
|-weather|Snow|[upkeep]
|upkeep
|turn|38
|
|t:|1676784477
|switch|p2a: Clodsire|Clodsire, F|88\/100
|move|p1a: 메타버스|Recover|p1a: 메타버스
|-heal|p1a: 메타버스|100\/100
|
|-weather|Snow|[upkeep]
|-heal|p2a: Clodsire|94\/100|[from] item: Black Sludge
|upkeep
|turn|39
|
|t:|1676784481
|switch|p1a: 조개의왕|Slowking, F|99\/100 tox
|-damage|p1a: 조개의왕|87\/100 tox|[from] Stealth Rock
|move|p2a: Clodsire|Earthquake|p1a: 조개의왕
|-damage|p1a: 조개의왕|66\/100 tox
|
|-weather|Snow|[upkeep]
|-heal|p2a: Clodsire|100\/100|[from] item: Black Sludge
|-damage|p1a: 조개의왕|60\/100 tox|[from] psn
|upkeep
|turn|40
|
|t:|1676784487
|move|p1a: 조개의왕|Future Sight|p2a: Clodsire
|-start|p1a: 조개의왕|move: Future Sight
|move|p2a: Clodsire|Earthquake|p1a: 조개의왕
|-damage|p1a: 조개의왕|41\/100 tox
|
|-weather|Snow|[upkeep]
|-damage|p1a: 조개의왕|29\/100 tox|[from] psn
|upkeep
|turn|41
|
|t:|1676784493
|switch|p2a: Zapdos|Zapdos|58\/100
|move|p1a: 조개의왕|Slack Off|p1a: 조개의왕
|-heal|p1a: 조개의왕|79\/100 tox
|
|-weather|Snow|[upkeep]
|-damage|p1a: 조개의왕|61\/100 tox|[from] psn
|upkeep
|turn|42
|
|t:|1676784496
|switch|p1a: 메타버스|Porygon2|100\/100
|-damage|p1a: 메타버스|88\/100|[from] Stealth Rock
|-ability|p1a: 메타버스|Download|boost
|-boost|p1a: 메타버스|spa|1
|move|p2a: Zapdos|Roost|p2a: Zapdos
|-heal|p2a: Zapdos|100\/100
|-singleturn|p2a: Zapdos|move: Roost
|
|-weather|Snow|[upkeep]
|-end|p2a: Zapdos|move: Future Sight
|-damage|p2a: Zapdos|58\/100
|upkeep
|turn|43
|
|t:|1676784501
|move|p2a: Zapdos|Volt Switch|p1a: 메타버스
|-damage|p1a: 메타버스|74\/100
|c|☆skyrute|숨막히는66배틀
|
|t:|1676784511
|switch|p2a: Clodsire|Clodsire, F|100\/100|[from] Volt Switch
|move|p1a: 메타버스|Ice Beam|p2a: Clodsire
|-supereffective|p2a: Clodsire
|-damage|p2a: Clodsire|76\/100
|
|-weather|Snow|[upkeep]
|-heal|p2a: Clodsire|83\/100|[from] item: Black Sludge
|upkeep
|turn|44
|c|☆miwolboziperopero|:판게아a1:
|
|t:|1676784526
|switch|p1a: 조개의왕|Slowking, F|94\/100 tox
|-damage|p1a: 조개의왕|81\/100 tox|[from] Stealth Rock
|switch|p2a: Comfey|Comfey, M|19\/100
|
|-weather|none
|-damage|p1a: 조개의왕|75\/100 tox|[from] psn
|upkeep
|turn|45
|
|t:|1676784533
|move|p2a: Comfey|Synthesis|p2a: Comfey
|-heal|p2a: Comfey|69\/100
|move|p1a: 조개의왕|Chilly Reception|p1a: 조개의왕
|-weather|Snow
|
|t:|1676784535
|switch|p1a: 메타버스|Porygon2|74\/100|[from] Chilly Reception
|-damage|p1a: 메타버스|62\/100|[from] Stealth Rock
|-ability|p1a: 메타버스|Download|boost
|-boost|p1a: 메타버스|spa|1
|
|-weather|Snow|[upkeep]
|upkeep
|turn|46
|c|☆skyrute|:판게아a1:
|
|t:|1676784542
|move|p2a: Comfey|Leech Seed|p1a: 메타버스|[miss]
|-miss|p2a: Comfey|p1a: 메타버스
|move|p1a: 메타버스|Toxic|p2a: Comfey
|-status|p2a: Comfey|tox
|
|-weather|Snow|[upkeep]
|-damage|p2a: Comfey|63\/100 tox|[from] psn
|upkeep
|turn|47
|
|t:|1676784546
|move|p2a: Comfey|U-turn|p1a: 메타버스
|-damage|p1a: 메타버스|56\/100
|c|☆miwolboziperopero|:판게아a1:
|
|t:|1676784548
|switch|p2a: Clodsire|Clodsire, F|83\/100|[from] U-turn
|move|p1a: 메타버스|Recover|p1a: 메타버스
|-heal|p1a: 메타버스|100\/100
|
|-weather|Snow|[upkeep]
|-heal|p2a: Clodsire|89\/100|[from] item: Black Sludge
|upkeep
|turn|48
|
|t:|1676784556
|switch|p1a: 조개의왕|Slowking, F|100\/100 tox
|-damage|p1a: 조개의왕|88\/100 tox|[from] Stealth Rock
|switch|p2a: Zapdos|Zapdos|58\/100
|
|-weather|Snow|[upkeep]
|-damage|p1a: 조개의왕|82\/100 tox|[from] psn
|upkeep
|turn|49
|
|t:|1676784566
|move|p2a: Zapdos|Volt Switch|p1a: 조개의왕
|-supereffective|p1a: 조개의왕
|-damage|p1a: 조개의왕|34\/100 tox
|
|t:|1676784570
|switch|p2a: Tatsugiri|Tatsugiri, F|51\/100|[from] Volt Switch
|move|p1a: 조개의왕|Future Sight|p2a: Tatsugiri
|-start|p1a: 조개의왕|move: Future Sight
|
|-weather|Snow|[upkeep]
|-damage|p1a: 조개의왕|22\/100 tox|[from] psn
|upkeep
|turn|50
|
|t:|1676784576
|switch|p1a: 메타버스|Porygon2|100\/100
|-damage|p1a: 메타버스|88\/100|[from] Stealth Rock
|-ability|p1a: 메타버스|Download|boost
|-boost|p1a: 메타버스|atk|1
|move|p2a: Tatsugiri|Hydro Pump|p1a: 메타버스
|-damage|p1a: 메타버스|66\/100
|
|-weather|Snow|[upkeep]
|upkeep
|turn|51
|
|t:|1676784583
|switch|p2a: Comfey|Comfey, M|63\/100 tox
|move|p1a: 메타버스|Recover|p1a: 메타버스
|-heal|p1a: 메타버스|100\/100
|
|-weather|Snow|[upkeep]
|-end|p2a: Comfey|move: Future Sight
|-damage|p2a: Comfey|21\/100 tox
|-damage|p2a: Comfey|15\/100 tox|[from] psn
|upkeep
|turn|52
|
|t:|1676784591
|move|p2a: Comfey|U-turn|p1a: 메타버스
|-damage|p1a: 메타버스|95\/100
|
|t:|1676784594
|switch|p2a: Clodsire|Clodsire, F|89\/100|[from] U-turn
|move|p1a: 메타버스|Discharge|p2a: Clodsire
|-immune|p2a: Clodsire
|
|-weather|none
|-heal|p2a: Clodsire|95\/100|[from] item: Black Sludge
|upkeep
|turn|53
|
|t:|1676784604
|move|p1a: 메타버스|Ice Beam|p2a: Clodsire
|-supereffective|p2a: Clodsire
|-damage|p2a: Clodsire|71\/100
|move|p2a: Clodsire|Toxic|p1a: 메타버스
|-status|p1a: 메타버스|tox
|
|-heal|p2a: Clodsire|78\/100|[from] item: Black Sludge
|-damage|p1a: 메타버스|89\/100 tox|[from] psn
|upkeep
|turn|54
|c|☆miwolboziperopero|얼면이긴다
|c|☆miwolboziperopero|얼리자
|
|t:|1676784615
|move|p1a: 메타버스|Ice Beam|p2a: Clodsire
|-supereffective|p2a: Clodsire
|-damage|p2a: Clodsire|56\/100
|-status|p2a: Clodsire|frz
|cant|p2a: Clodsire|frz
|
|-heal|p2a: Clodsire|62\/100 frz|[from] item: Black Sludge
|-damage|p1a: 메타버스|77\/100 tox|[from] psn
|upkeep
|turn|55
|c|☆miwolboziperopero|:노무콘a8:
|c|☆skyrute|:노무콘a8:
|
|t:|1676784626
|move|p1a: 메타버스|Ice Beam|p2a: Clodsire
|-supereffective|p2a: Clodsire
|-damage|p2a: Clodsire|41\/100 frz
|cant|p2a: Clodsire|frz
|
|-heal|p2a: Clodsire|47\/100 frz|[from] item: Black Sludge
|-damage|p1a: 메타버스|58\/100 tox|[from] psn
|upkeep
|turn|56
|
|t:|1676784629
|move|p1a: 메타버스|Ice Beam|p2a: Clodsire
|-supereffective|p2a: Clodsire
|-damage|p2a: Clodsire|23\/100 frz
|cant|p2a: Clodsire|frz
|
|-heal|p2a: Clodsire|29\/100 frz|[from] item: Black Sludge
|-damage|p1a: 메타버스|34\/100 tox|[from] psn
|upkeep
|turn|57
|c|☆skyrute|녹아
|
|t:|1676784633
|move|p1a: 메타버스|Ice Beam|p2a: Clodsire
|-supereffective|p2a: Clodsire
|-crit|p2a: Clodsire
|-damage|p2a: Clodsire|0 fnt
|faint|p2a: Clodsire
|
|-damage|p1a: 메타버스|3\/100 tox|[from] psn
|upkeep
|
|t:|1676784635
|switch|p2a: Tatsugiri|Tatsugiri, F|51\/100
|turn|58
|
|t:|1676784640
|move|p2a: Tatsugiri|Rapid Spin|p1a: 메타버스
|-damage|p1a: 메타버스|0 fnt
|-boost|p2a: Tatsugiri|spe|1
|faint|p1a: 메타버스
|
|upkeep
|
|t:|1676784646
|switch|p1a: 조개의왕|Slowking, F|55\/100 tox
|-damage|p1a: 조개의왕|43\/100 tox|[from] Stealth Rock
|turn|59
|
|t:|1676784658
|move|p2a: Tatsugiri|Draco Meteor|p1a: 조개의왕
|-damage|p1a: 조개의왕|0 fnt
|-unboost|p2a: Tatsugiri|spa|2
|faint|p1a: 조개의왕
|
|upkeep
|c|☆miwolboziperopero|헐
|
|t:|1676784663
|switch|p1a: 위대한조개|Slowbro, M|57\/100
|-damage|p1a: 위대한조개|45\/100|[from] Stealth Rock
|turn|60
|c|☆skyrute|나의승리다
|
|t:|1676784668
|detailschange|p1a: 위대한조개|Slowbro-Mega, M
|-mega|p1a: 위대한조개|Slowbro|Slowbronite
|move|p2a: Tatsugiri|Draco Meteor|p1a: 위대한조개
|-damage|p1a: 위대한조개|14\/100
|-unboost|p2a: Tatsugiri|spa|2
|move|p1a: 위대한조개|Ice Beam|p2a: Tatsugiri
|-damage|p2a: Tatsugiri|31\/100
|
|upkeep
|turn|61
|
|t:|1676784672
|move|p2a: Tatsugiri|Draco Meteor|p1a: 위대한조개
|-damage|p1a: 위대한조개|0 fnt
|-unboost|p2a: Tatsugiri|spa|2
|faint|p1a: 위대한조개
|
|win|skyrute
|c|☆miwolboziperopero|ㅈㅈ
|c|☆skyrute|ㅈㅈ
</script>
</div>
<div class="battle-log battle-log-inline"><div class="inner"><div class="battle-options"></div><div class="inner message-log" readability="21"><div class="chat"><small>☆miwolboziperopero and ☆skyrute joined</small></div><div class=""><small>Format:</small> <br><strong>[Gen 9] National Dex AG</strong></div><div class=""><small><em>HP Percentage Mod:</em> HP is shown in percentages</small></div><div class=""><small><em>Endless Battle Clause:</em> Forcing endless battles is banned</small></div><div class=""><small><em>Species Clause:</em> Limit one of each Pokémon</small></div><div class=""><small><em>Item Clause:</em> Limit one of each item</small></div><div class="chat battle-history"><strong>miwolboziperopero's team:</strong> <em style="color:#445566;display:block;">Beartic / Slowking / Baxcalibur / Gholdengo / Slowbro / Porygon2</em></div><div class="chat battle-history"><strong>skyrute's team:</strong> <em style="color:#445566;display:block;">Tatsugiri / Skeledirge / Zapdos / Comfey / Kingambit / Clodsire</em></div><div class="spacer battle-history"><br></div><div class="battle-history">Battle started between miwolboziperopero and skyrute!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! 돈이복사가된다고 (<strong>Gholdengo</strong>)!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">skyrute sent out <strong>Zapdos</strong>!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 1</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Zapdos used <strong>Volt Switch</strong>!<br></div><div class="battle-history"><small>(돈이복사가된다고 lost 21% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Zapdos went back to skyrute!<br></div><div class="battle-history">skyrute sent out <strong>Tatsugiri</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">돈이복사가된다고 used <strong>Nasty Plot</strong>!<br></div><div class="battle-history"><small>돈이복사가된다고's Sp. Atk rose sharply!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>돈이복사가된다고 restored a little HP using its Leftovers!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 2</h2><div class="spacer battle-history"><br></div><div class="battle-history">돈이복사가된다고 used <strong>Shadow Ball</strong>!<br></div><div class="battle-history"><small>(The opposing Tatsugiri lost 63% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Tatsugiri used <strong>Mirror Coat</strong>!<br></div><div class="battle-history"><small>(돈이복사가된다고 lost 85% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">돈이복사가된다고 fainted!<br></div><div class="chat chatmessage-miwolboziperopero"><strong style="color:#b8417c"><small>☆</small><span class="username" data-name="miwolboziperopero">miwolboziperopero</span>:</strong> <em>저저게뭐노</em></div><div class="chat chatmessage-skyrute"><strong style="color:#6664ea"><small>☆</small><span class="username" data-name="skyrute">skyrute</span>:</strong> <em>이거지...</em></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! 조개의왕 (<strong>Slowking</strong>)!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 3</h2><div class="spacer battle-history"><br></div><div class="battle-history">skyrute withdrew Tatsugiri!<br></div><div class="battle-history">skyrute sent out <strong>Zapdos</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">조개의왕 used <strong>Future Sight</strong>!<br></div><div class="battle-history"><small>조개의왕 foresaw an attack!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 4</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Zapdos used <strong>Volt Switch</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(조개의왕 lost 43% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Zapdos went back to skyrute!<br></div><div class="battle-history">skyrute sent out <strong>Kingambit</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">조개의왕 used <strong>Chilly Reception</strong>!<br></div><div class="battle-history"><small>It started to snow!</small><br></div><div class="chat chatmessage-skyrute"><strong style="color:#6664ea"><small>☆</small><span class="username" data-name="skyrute">skyrute</span>:</strong> <em>와전용기</em></div><div class="chat chatmessage-miwolboziperopero"><strong style="color:#b8417c"><small>☆</small><span class="username" data-name="miwolboziperopero">miwolboziperopero</span>:</strong> <em>포하하하</em></div><div class="chat chatmessage-skyrute"><strong style="color:#6664ea"><small>☆</small><span class="username" data-name="skyrute">skyrute</span>:</strong> <em>두렵다</em></div><div class="spacer battle-history"><br></div><div class="battle-history">조개의왕, come back!<br></div><div class="battle-history">Go! 무쇠톱니 (<strong>Baxcalibur</strong>)!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 5</h2><div class="spacer battle-history"><br></div><div class="battle-history">무쇠톱니 used <strong>Dragon Dance</strong>!<br></div><div class="battle-history"><small>무쇠톱니's Attack rose!</small><br></div><div class="battle-history"><small>무쇠톱니's Speed rose!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Kingambit used <strong>Iron Head</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(무쇠톱니 lost 55% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="battle-history"><small>The opposing Kingambit took the Future Sight attack!</small><br></div><div class="battle-history"><small>It doesn't affect the opposing Kingambit...</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 6</h2><div class="spacer battle-history"><br></div><div class="battle-history"><small>무쇠톱니 has Terastallized into the Fire-type!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>The opposing Kingambit has Terastallized into the Dark-type!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">무쇠톱니 used <strong>Tera Blast</strong>!<br></div><div class="battle-history"><small>(The opposing Kingambit lost 56% of its health!)</small><br></div><div class="battle-history"><small>(The opposing Kingambit ate its Sitrus Berry!)</small><br></div><div class="battle-history"><small>The opposing Kingambit restored HP using its Sitrus Berry!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Kingambit used <strong>Knock Off</strong>!<br></div><div class="battle-history"><small>(무쇠톱니 lost 45% of its health!)</small><br></div><div class="battle-history"><small>The opposing Kingambit knocked off 무쇠톱니's Loaded Dice!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">무쇠톱니 fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="chat chatmessage-miwolboziperopero"><strong style="color:#b8417c"><small>☆</small><span class="username" data-name="miwolboziperopero">miwolboziperopero</span>:</strong> <em>악~</em></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! 고드름곰 (<strong>Beartic</strong>)!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 7</h2><div class="spacer battle-history"><br></div><div class="battle-history">고드름곰 used <strong>Superpower</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(The opposing Kingambit lost 69% of its health!)</small><br></div><div class="battle-history"><small>고드름곰's Attack fell!</small><br></div><div class="battle-history"><small>고드름곰's Defense fell!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Kingambit fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">skyrute sent out <strong>Skeledirge</strong>!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 8</h2><div class="spacer battle-history"><br></div><div class="battle-history">고드름곰, come back!<br></div><div class="battle-history">Go! 위대한조개 (<strong>Slowbro</strong>)!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">skyrute withdrew Skeledirge!<br></div><div class="battle-history">skyrute sent out <strong>Tatsugiri</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 9</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Tatsugiri used <strong>Draco Meteor</strong>!<br></div><div class="battle-history"><small>(위대한조개 lost 65% of its health!)</small><br></div><div class="battle-history"><small>The opposing Tatsugiri's Sp. Atk fell harshly!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">위대한조개 used <strong>Teleport</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! 고드름곰 (<strong>Beartic</strong>)!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 10</h2><div class="spacer battle-history"><br></div><div class="battle-history">skyrute withdrew Tatsugiri!<br></div><div class="battle-history">skyrute sent out <strong>Skeledirge</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">고드름곰 used <strong>Icicle Crash</strong>!<br></div><div class="battle-history"><small>It's not very effective...</small><br></div><div class="battle-history"><small>(The opposing Skeledirge lost 20% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="battle-history"><small>The opposing Skeledirge restored a little HP using its Leftovers!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 11</h2><div class="chat chatmessage-miwolboziperopero"><strong style="color:#b8417c"><small>☆</small><span class="username" data-name="miwolboziperopero">miwolboziperopero</span>:</strong> <em>나도쭈잉</em></div><div class="spacer battle-history"><br></div><div class="battle-history">고드름곰, come back!<br></div><div class="battle-history">Go! 위대한조개 (<strong>Slowbro</strong>)!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Skeledirge used <strong>Torch Song</strong>!<br></div><div class="battle-history"><small>It's not very effective...</small><br></div><div class="battle-history"><small>(위대한조개 lost 16% of its health!)</small><br></div><div class="battle-history"><small>The opposing Skeledirge's Sp. Atk rose!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>The snow stopped.</small><br></div><div class="battle-history"><small>The opposing Skeledirge restored a little HP using its Leftovers!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 12</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Skeledirge used <strong>Tera Blast</strong>!<br></div><div class="battle-history"><small>(위대한조개 lost 28% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">위대한조개 used <strong>Teleport</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! 조개의왕 (<strong>Slowking</strong>)!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>The opposing Skeledirge restored a little HP using its Leftovers!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 13</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing Skeledirge used <strong>Torch Song</strong>!<br></div><div class="battle-history"><small>It's not very effective...</small><br></div><div class="battle-history"><small>(조개의왕 lost 17% of its health!)</small><br></div><div class="battle-history"><small>The opposing Skeledirge's Sp. Atk rose!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">조개의왕 used <strong>Chilling Water</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(The opposing Skeledirge lost 33% of its health!)</small><br></div><div class="battle-history"><small>The opposing Skeledirge's Attack fell!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>The opposing Skeledirge restored a little HP using its Leftovers!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 14</h2><div class="spacer battle-history"><br></div><div class="battle-history">skyrute withdrew Skeledirge!<br></div><div class="battle-history">skyrute sent out <strong>Tatsugiri</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">조개의왕 used <strong>Chilly Reception</strong>!<br></div><div class="battle-history"><small>It started to snow!</small><br></div></div><div class="inner-preempt message-log"></div></div></div>
</div>
<script>
let daily = Math.floor(Date.now()/1000/60/60/24);document.write('<script src="https://play.pokemonshowdown.com/js/replay-embed.js?version'+daily+'"></'+'script>');
</script>
