<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>Document</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1e1424;
      }
      .frame {
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 800px;
      }
    </style>
  </head>
  <body>
    <div class="frame"><img src="https://i.imgur.com/xhT0Epz.jpg" /></div>
  </body>
</html>
