<!DOCTYPE html>
<meta charset="utf-8" />
<!-- version 1 -->
<title>[Gen 9] National Dex AG replay: sche vs. Wendy_LOVE</title>
<style>
html,body {font-family:Verdana, sans-serif;font-size:10pt;margin:0;padding:0;}body{padding:12px 0;} .battle-log {font-family:Verdana, sans-serif;font-size:10pt;} .battle-log-inline {border:1px solid #AAAAAA;background:#EEF2F5;color:black;max-width:640px;margin:0 auto 80px;padding-bottom:5px;} .battle-log .inner {padding:4px 8px 0px 8px;} .battle-log .inner-preempt {padding:0 8px 4px 8px;} .battle-log .inner-after {margin-top:0.5em;} .battle-log h2 {margin:0.5em -8px;padding:4px 8px;border:1px solid #AAAAAA;background:#E0E7EA;border-left:0;border-right:0;font-family:Verdana, sans-serif;font-size:13pt;} .battle-log .chat {vertical-align:middle;padding:3px 0 3px 0;font-size:8pt;} .battle-log .chat strong {color:#40576A;} .battle-log .chat em {padding:1px 4px 1px 3px;color:#000000;font-style:normal;} .chat.mine {background:rgba(0,0,0,0.05);margin-left:-8px;margin-right:-8px;padding-left:8px;padding-right:8px;} .spoiler {color:#BBBBBB;background:#BBBBBB;padding:0px 3px;} .spoiler:hover, .spoiler:active, .spoiler-shown {color:#000000;background:#E2E2E2;padding:0px 3px;} .spoiler a {color:#BBBBBB;} .spoiler:hover a, .spoiler:active a, .spoiler-shown a {color:#2288CC;} .chat code, .chat .spoiler:hover code, .chat .spoiler:active code, .chat .spoiler-shown code {border:1px solid #C0C0C0;background:#EEEEEE;color:black;padding:0 2px;} .chat .spoiler code {border:1px solid #CCCCCC;background:#CCCCCC;color:#CCCCCC;} .battle-log .rated {padding:3px 4px;} .battle-log .rated strong {color:white;background:#89A;padding:1px 4px;border-radius:4px;} .spacer {margin-top:0.5em;} .message-announce {background:#6688AA;color:white;padding:1px 4px 2px;} .message-announce a, .broadcast-green a, .broadcast-blue a, .broadcast-red a {color:#DDEEFF;} .broadcast-green {background-color:#559955;color:white;padding:2px 4px;} .broadcast-blue {background-color:#6688AA;color:white;padding:2px 4px;} .infobox {border:1px solid #6688AA;padding:2px 4px;} .infobox-limited {max-height:200px;overflow:auto;overflow-x:hidden;} .broadcast-red {background-color:#AA5544;color:white;padding:2px 4px;} .message-learn-canlearn {font-weight:bold;color:#228822;text-decoration:underline;} .message-learn-cannotlearn {font-weight:bold;color:#CC2222;text-decoration:underline;} .message-effect-weak {font-weight:bold;color:#CC2222;} .message-effect-resist {font-weight:bold;color:#6688AA;} .message-effect-immune {font-weight:bold;color:#666666;} .message-learn-list {margin-top:0;margin-bottom:0;} .message-throttle-notice, .message-error {color:#992222;} .message-overflow, .chat small.message-overflow {font-size:0pt;} .message-overflow::before {font-size:9pt;content:'...';} .subtle {color:#3A4A66;}
</style>
<div class="wrapper replay-wrapper" style="max-width:1180px;margin:0 auto">
<input type="hidden" name="replayid" value="gen9nationaldexag-2135283561-k3gw7p8yfk0nyak05mk6l041ydmrif7pw" />
<div class="battle"></div><div class="battle-log"></div><div class="replay-controls"></div><div class="replay-controls-2"></div>
<h1 style="font-weight:normal;text-align:center"><strong>[Gen 9] National Dex AG</strong><br /><a href="http://pokemonshowdown.com/users/sche" class="subtle" target="_blank">sche</a> vs. <a href="http://pokemonshowdown.com/users/wendylove" class="subtle" target="_blank">Wendy_LOVE</a></h1>
<script type="text/plain" class="battle-log-data">|j|☆sche
|j|☆Wendy_LOVE
|t:|1717313423
|gametype|singles
|player|p1|sche|argenta|
|player|p2|Wendy_LOVE|102|
|teamsize|p1|6
|teamsize|p2|6
|gen|9
|tier|[Gen 9] National Dex AG
|rule|HP Percentage Mod: HP is shown in percentages
|rule|Endless Battle Clause: Forcing endless battles is banned
|clearpoke
|poke|p1|Araquanid, M|
|poke|p1|Diancie|
|poke|p1|Iron Treads|
|poke|p1|Ferrothorn, F|
|poke|p1|Zapdos|
|poke|p1|Hoopa-Unbound|
|poke|p2|Ninetales-Alola, M|
|poke|p2|Torterra, M|
|poke|p2|Great Tusk|
|poke|p2|Kleavor, M|
|poke|p2|Heracross, M|
|poke|p2|Archaludon, F|
|teampreview
|inactive|Battle timer is ON: inactive players will automatically lose when time's up. (requested by Wendy_LOVE)
|
|t:|1717313452
|start
|switch|p1a: Diancie|Diancie|241\/241
|switch|p2a: 사마귀|Kleavor, M|100\/100
|turn|1
|
|t:|1717313461
|detailschange|p1a: Diancie|Diancie-Mega
|-mega|p1a: Diancie|Diancie|Diancite
|move|p1a: Diancie|Moonblast|p2a: 사마귀
|-damage|p2a: 사마귀|11\/100
|move|p2a: 사마귀|Rock Tomb|p1a: Diancie
|-damage|p1a: Diancie|139\/241
|-unboost|p1a: Diancie|spe|1
|
|upkeep
|turn|2
|
|t:|1717313469
|switch|p1a: Iron Treads|Iron Treads|321\/321
|move|p2a: 사마귀|Stone Axe|p1a: Iron Treads
|-resisted|p1a: Iron Treads
|-damage|p1a: Iron Treads|284\/321
|-sidestart|p1: sche|move: Stealth Rock
|
|upkeep
|turn|3
|
|t:|1717313479
|move|p1a: Iron Treads|Earthquake|p2a: 사마귀
|-crit|p2a: 사마귀
|-damage|p2a: 사마귀|0 fnt
|faint|p2a: 사마귀
|
|upkeep
|
|t:|1717313482
|switch|p2a: 북극여우|Ninetales-Alola, M|100\/100
|-weather|Snow|[from] ability: Snow Warning|[of] p2a: 북극여우
|turn|4
|
|t:|1717313489
|-end|p1a: Iron Treads|Quark Drive|[silent]
|switch|p1a: Araquanid|Araquanid, M|339\/339
|-damage|p1a: Araquanid|255\/339|[from] Stealth Rock
|move|p2a: 북극여우|Aurora Veil|p2a: 북극여우
|-sidestart|p2: Wendy_LOVE|move: Aurora Veil
|
|-weather|Snow|[upkeep]
|upkeep
|turn|5
|
|t:|1717313502
|switch|p2a: 코끼리|Great Tusk|100\/100
|-enditem|p2a: 코끼리|Booster Energy
|-activate|p2a: 코끼리|ability: Protosynthesis|[fromitem]
|-start|p2a: 코끼리|protosynthesisatk
|move|p1a: Araquanid|Sticky Web|p2a: 코끼리
|-sidestart|p2: Wendy_LOVE|move: Sticky Web
|
|-weather|Snow|[upkeep]
|upkeep
|turn|6
|
|t:|1717313513
|switch|p1a: Zapdos|Zapdos|383\/383
|move|p2a: 코끼리|Rapid Spin|p1a: Zapdos
|-damage|p1a: Zapdos|324\/383
|-boost|p2a: 코끼리|spe|1
|-sideend|p2: Wendy_LOVE|Sticky Web|[from] move: Rapid Spin|[of] p2a: 코끼리
|
|-weather|Snow|[upkeep]
|upkeep
|turn|7
|
|t:|1717313518
|move|p2a: 코끼리|Ice Spinner|p1a: Zapdos
|-supereffective|p1a: Zapdos
|-damage|p1a: Zapdos|140\/383
|move|p1a: Zapdos|Defog|p2a: 코끼리
|-unboost|p2a: 코끼리|evasion|1
|-sideend|p2: Wendy_LOVE|move: Aurora Veil
|-sideend|p1: sche|Stealth Rock|[from] move: Defog|[of] p1a: Zapdos
|
|-weather|Snow|[upkeep]
|upkeep
|turn|8
|
|t:|1717313529
|move|p2a: 코끼리|Ice Spinner|p1a: Zapdos
|-supereffective|p1a: Zapdos
|-damage|p1a: Zapdos|0 fnt
|-status|p2a: 코끼리|par|[from] ability: Static|[of] p1a: Zapdos
|faint|p1a: Zapdos
|
|-weather|none
|upkeep
|
|t:|1717313532
|switch|p1a: Diancie|Diancie-Mega|139\/241
|turn|9
|
|t:|1717313541
|move|p1a: Diancie|Moonblast|p2a: 코끼리
|-supereffective|p2a: 코끼리
|-damage|p2a: 코끼리|0 fnt
|faint|p2a: 코끼리
|-end|p2a: 코끼리|Protosynthesis|[silent]
|
|upkeep
|
|t:|1717313544
|switch|p2a: 북극여우|Ninetales-Alola, M|100\/100
|-weather|Snow|[from] ability: Snow Warning|[of] p2a: 북극여우
|turn|10
|
|t:|1717313559
|move|p1a: Diancie|Diamond Storm|p2a: 북극여우
|-supereffective|p2a: 북극여우
|-damage|p2a: 북극여우|14\/100
|-boost|p1a: Diancie|def|2
|move|p2a: 북극여우|Aurora Veil|p2a: 북극여우
|-sidestart|p2: Wendy_LOVE|move: Aurora Veil
|
|-weather|Snow|[upkeep]
|upkeep
|turn|11
|
|t:|1717313567
|move|p1a: Diancie|Moonblast|p2a: 북극여우
|-damage|p2a: 북극여우|0 fnt
|faint|p2a: 북극여우
|
|-weather|Snow|[upkeep]
|upkeep
|
|t:|1717313571
|switch|p2a: 거북이|Torterra, M|100\/100
|turn|12
|
|t:|1717313588
|move|p1a: Diancie|Moonblast|p2a: 거북이
|-damage|p2a: 거북이|68\/100
|move|p2a: 거북이|Shell Smash|p2a: 거북이
|-unboost|p2a: 거북이|def|1
|-unboost|p2a: 거북이|spd|1
|-boost|p2a: 거북이|atk|2
|-boost|p2a: 거북이|spa|2
|-boost|p2a: 거북이|spe|2
|
|-weather|Snow|[upkeep]
|upkeep
|turn|13
|
|t:|1717313602
|switch|p1a: Araquanid|Araquanid, M|255\/339
|move|p2a: 거북이|Earthquake|p1a: Araquanid
|-resisted|p1a: Araquanid
|-damage|p1a: Araquanid|68\/339
|
|-weather|Snow|[upkeep]
|upkeep
|turn|14
|-enditem|p1a: Araquanid|Custap Berry|[eat]
|-activate|p1a: Araquanid|item: Custap Berry|[consumed]
|
|t:|1717313605
|move|p1a: Araquanid|Endeavor|p2a: 거북이
|-damage|p2a: 거북이|21\/100
|move|p2a: 거북이|Earthquake|p1a: Araquanid
|-resisted|p1a: Araquanid
|-damage|p1a: Araquanid|0 fnt
|faint|p1a: Araquanid
|
|-weather|none
|upkeep
|
|t:|1717313609
|switch|p1a: Ferrothorn|Ferrothorn, F|351\/351
|turn|15
|
|t:|1717313611
|move|p2a: 거북이|Earthquake|p1a: Ferrothorn
|-damage|p1a: Ferrothorn|141\/351
|move|p1a: Ferrothorn|Gyro Ball|p2a: 거북이
|-damage|p2a: 거북이|0 fnt
|faint|p2a: 거북이
|
|-heal|p1a: Ferrothorn|162\/351|[from] item: Leftovers
|upkeep
|
|t:|1717313613
|switch|p2a: 장수풍뎅이|Heracross, M|100\/100
|turn|16
|
|t:|1717313639
|detailschange|p2a: 장수풍뎅이|Heracross-Mega, M
|-mega|p2a: 장수풍뎅이|Heracross|Heracronite
|move|p2a: 장수풍뎅이|Trailblaze|p1a: Ferrothorn
|-resisted|p1a: Ferrothorn
|-damage|p1a: Ferrothorn|150\/351
|-boost|p2a: 장수풍뎅이|spe|1
|-damage|p2a: 장수풍뎅이|88\/100|[from] ability: Iron Barbs|[of] p1a: Ferrothorn
|move|p1a: Ferrothorn|Gyro Ball|p2a: 장수풍뎅이
|-damage|p2a: 장수풍뎅이|65\/100
|
|-heal|p1a: Ferrothorn|171\/351|[from] item: Leftovers
|upkeep
|turn|17
|inactive|sche has 270 seconds left.
|
|t:|1717313659
|switch|p1a: Hoopa|Hoopa-Unbound|301\/301
|move|p2a: 장수풍뎅이|Close Combat|p1a: Hoopa
|-damage|p1a: Hoopa|0 fnt
|-unboost|p2a: 장수풍뎅이|def|1
|-unboost|p2a: 장수풍뎅이|spd|1
|faint|p1a: Hoopa
|
|-sideend|p2: Wendy_LOVE|move: Aurora Veil
|upkeep
|
|t:|1717313686
|switch|p1a: Diancie|Diancie-Mega|139\/241
|turn|18
|
|t:|1717313689
|move|p2a: 장수풍뎅이|Close Combat|p1a: Diancie
|-damage|p1a: Diancie|0 fnt
|-unboost|p2a: 장수풍뎅이|def|1
|-unboost|p2a: 장수풍뎅이|spd|1
|faint|p1a: Diancie
|
|upkeep
|
|t:|1717313691
|switch|p1a: Ferrothorn|Ferrothorn, F|171\/351
|turn|19
|
|t:|1717313693
|move|p2a: 장수풍뎅이|Close Combat|p1a: Ferrothorn
|-supereffective|p1a: Ferrothorn
|-damage|p1a: Ferrothorn|0 fnt
|-unboost|p2a: 장수풍뎅이|def|1
|-unboost|p2a: 장수풍뎅이|spd|1
|-damage|p2a: 장수풍뎅이|53\/100|[from] ability: Iron Barbs|[of] p1a: Ferrothorn
|faint|p1a: Ferrothorn
|
|upkeep
|-message|sche forfeited.
|
|win|Wendy_LOVE
|l|☆sche
|player|p1|
|j|☆sche
|player|p1|sche|argenta|

|player|p1|sche|argenta|
|l|☆Wendy_LOVE</script>
</div>
<div class="battle-log battle-log-inline"><div class="inner"><div class="battle-options"><div style="padding-top: 3px; padding-right: 3px; text-align: right"><button class="icon button" name="openBattleOptions" title="Options">Battle Options</button></div></div><div class="inner message-log"><div class="chat"><small>☆sche and ☆Wendy_LOVE joined</small></div><div class=""><small>Format:</small> <br><strong>[Gen 9] National Dex AG</strong></div><div class=""><small><em>HP Percentage Mod:</em> HP is shown in percentages</small></div><div class=""><small><em>Endless Battle Clause:</em> Forcing endless battles is banned</small></div><div class="chat battle-history"><strong>sche's team:</strong> <em style="color:#445566;display:block;">Araquanid / Diancie / Iron Treads / Ferrothorn / Zapdos / Hoopa-Unbound</em></div><div class="chat battle-history"><strong>Wendy_LOVE's team:</strong> <em style="color:#445566;display:block;">Ninetales-Alola / Torterra / Great Tusk / Kleavor / Heracross / Archaludon</em></div><div class="chat message-error">Battle timer is ON: inactive players will automatically lose when time's up. (requested by Wendy_LOVE)</div><div class="spacer battle-history"><br></div><div class="battle-history">Battle started between sche and Wendy_LOVE!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! <strong>Diancie</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Wendy_LOVE sent out 사마귀 (<strong>Kleavor</strong>)!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 1</h2><div class="spacer battle-history"><br></div><div class="battle-history"><small>Diancie's Diancite is reacting to the Key Stone!</small><br>Diancie has Mega Evolved into Mega Diancie!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Diancie used <strong>Moonblast</strong>!<br></div><div class="battle-history"><small>(The opposing 사마귀 lost 89% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 사마귀 used <strong>Rock Tomb</strong>!<br></div><div class="battle-history"><small>(Diancie lost <abbr title="−102/241">42.3%</abbr> of its health!)</small><br></div><div class="battle-history"><small>Diancie's Speed fell!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 2</h2><div class="spacer battle-history"><br></div><div class="battle-history">Diancie, come back!<br></div><div class="battle-history">Go! <strong>Iron Treads</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 사마귀 used <strong>Stone Axe</strong>!<br></div><div class="battle-history"><small>It's not very effective...</small><br></div><div class="battle-history"><small>(Iron Treads lost <abbr title="−37/321">11.5%</abbr> of its health!)</small><br></div><div class="battle-history"><small>Pointed stones float in the air around your team!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 3</h2><div class="spacer battle-history"><br></div><div class="battle-history">Iron Treads used <strong>Earthquake</strong>!<br></div><div class="battle-history"><small>A critical hit!</small><br></div><div class="battle-history"><small>(The opposing 사마귀 lost 11% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 사마귀 fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Wendy_LOVE sent out 북극여우 (<strong>Ninetales-Alola</strong>)!<br></div><div class="battle-history">[The opposing 북극여우's Snow Warning]<br><small>It started to snow!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 4</h2><div class="spacer battle-history"><br></div><div class="battle-history">Iron Treads, come back!<br></div><div class="battle-history">Go! <strong>Araquanid</strong>!<br></div><div class="battle-history"><small>Pointed stones dug into Araquanid!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 북극여우 used <strong>Aurora Veil</strong>!<br></div><div class="battle-history"><small>Aurora Veil made the opposing team stronger against physical and special moves!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 5</h2><div class="spacer battle-history"><br></div><div class="battle-history">Wendy_LOVE withdrew 북극여우!<br></div><div class="battle-history">Wendy_LOVE sent out 코끼리 (<strong>Great Tusk</strong>)!<br></div><div class="battle-history"><small>(The opposing 코끼리 used its Booster Energy!)</small><br></div><div class="battle-history">[The opposing 코끼리's Protosynthesis]<br><small>The opposing 코끼리 used its Booster Energy to activate Protosynthesis!</small><br></div><div class="battle-history"><small>The opposing 코끼리's Attack was heightened!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Araquanid used <strong>Sticky Web</strong>!<br></div><div class="battle-history"><small>A sticky web has been laid out on the ground around the opposing team!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 6</h2><div class="spacer battle-history"><br></div><div class="battle-history">Araquanid, come back!<br></div><div class="battle-history">Go! <strong>Zapdos</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 코끼리 used <strong>Rapid Spin</strong>!<br></div><div class="battle-history"><small>(Zapdos lost <abbr title="−59/383">15.4%</abbr> of its health!)</small><br></div><div class="battle-history"><small>The opposing 코끼리's Speed rose!</small><br></div><div class="battle-history"><small>The sticky web has disappeared from the ground around the opposing team!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 7</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 코끼리 used <strong>Ice Spinner</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(Zapdos lost <abbr title="−184/383">48.0%</abbr> of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Zapdos used <strong>Defog</strong>!<br></div><div class="battle-history"><small>The opposing 코끼리's evasiveness fell!</small><br></div><div class="battle-history"><small>The opposing team's Aurora Veil wore off!</small><br></div><div class="battle-history"><small>The pointed stones disappeared from around your team!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 8</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 코끼리 used <strong>Ice Spinner</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(Zapdos lost <abbr title="−140/383">36.6%</abbr> of its health!)</small><br></div><div class="battle-history">[Zapdos's Static]<br><small>The opposing 코끼리 is paralyzed! It may be unable to move!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Zapdos fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>The snow stopped.</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! Diancie (<strong>Diancie-Mega</strong>)!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 9</h2><div class="spacer battle-history"><br></div><div class="battle-history">Diancie used <strong>Moonblast</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(The opposing 코끼리 lost 100% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 코끼리 fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Wendy_LOVE sent out 북극여우 (<strong>Ninetales-Alola</strong>)!<br></div><div class="battle-history">[The opposing 북극여우's Snow Warning]<br><small>It started to snow!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 10</h2><div class="spacer battle-history"><br></div><div class="battle-history">Diancie used <strong>Diamond Storm</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(The opposing 북극여우 lost 86% of its health!)</small><br></div><div class="battle-history"><small>Diancie's Defense rose sharply!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 북극여우 used <strong>Aurora Veil</strong>!<br></div><div class="battle-history"><small>Aurora Veil made the opposing team stronger against physical and special moves!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 11</h2><div class="spacer battle-history"><br></div><div class="battle-history">Diancie used <strong>Moonblast</strong>!<br></div><div class="battle-history"><small>(The opposing 북극여우 lost 14% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 북극여우 fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Wendy_LOVE sent out 거북이 (<strong>Torterra</strong>)!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 12</h2><div class="spacer battle-history"><br></div><div class="battle-history">Diancie used <strong>Moonblast</strong>!<br></div><div class="battle-history"><small>(The opposing 거북이 lost 32% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 거북이 used <strong>Shell Smash</strong>!<br></div><div class="battle-history"><small>The opposing 거북이's Defense fell!</small><br></div><div class="battle-history"><small>The opposing 거북이's Sp. Def fell!</small><br></div><div class="battle-history"><small>The opposing 거북이's Attack rose sharply!</small><br></div><div class="battle-history"><small>The opposing 거북이's Sp. Atk rose sharply!</small><br></div><div class="battle-history"><small>The opposing 거북이's Speed rose sharply!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 13</h2><div class="spacer battle-history"><br></div><div class="battle-history">Diancie, come back!<br></div><div class="battle-history">Go! <strong>Araquanid</strong>!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 거북이 used <strong>Earthquake</strong>!<br></div><div class="battle-history"><small>It's not very effective...</small><br></div><div class="battle-history"><small>(Araquanid lost <abbr title="−187/339">55.2%</abbr> of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>(The snow is falling down.)</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 14</h2><div class="spacer battle-history"><br></div><div class="battle-history"><small>(Araquanid ate its Custap Berry!)</small><br></div><div class="battle-history"><small>Araquanid can act faster than normal, thanks to its Custap Berry!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Araquanid used <strong>Endeavor</strong>!<br></div><div class="battle-history"><small>(The opposing 거북이 lost 47% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 거북이 used <strong>Earthquake</strong>!<br></div><div class="battle-history"><small>It's not very effective...</small><br></div><div class="battle-history"><small>(Araquanid lost <abbr title="−68/339">20.1%</abbr> of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Araquanid fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>The snow stopped.</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! <strong>Ferrothorn</strong>!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 15</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 거북이 used <strong>Earthquake</strong>!<br></div><div class="battle-history"><small>(Ferrothorn lost <abbr title="−210/351">59.8%</abbr> of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Ferrothorn used <strong>Gyro Ball</strong>!<br></div><div class="battle-history"><small>(The opposing 거북이 lost 21% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 거북이 fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>Ferrothorn restored a little HP using its Leftovers!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Wendy_LOVE sent out 장수풍뎅이 (<strong>Heracross</strong>)!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 16</h2><div class="spacer battle-history"><br></div><div class="battle-history"><small>The opposing 장수풍뎅이's Heracronite is reacting to the Key Stone!</small><br>The opposing 장수풍뎅이 has Mega Evolved into Mega Heracross!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 장수풍뎅이 used <strong>Trailblaze</strong>!<br></div><div class="battle-history"><small>It's not very effective...</small><br></div><div class="battle-history"><small>(Ferrothorn lost <abbr title="−12/351">3.4%</abbr> of its health!)</small><br></div><div class="battle-history"><small>The opposing 장수풍뎅이's Speed rose!</small><br></div><div class="battle-history">[Ferrothorn's Iron Barbs]<br><small>The opposing 장수풍뎅이 was hurt!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Ferrothorn used <strong>Gyro Ball</strong>!<br></div><div class="battle-history"><small>(The opposing 장수풍뎅이 lost 23% of its health!)</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>Ferrothorn restored a little HP using its Leftovers!</small><br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 17</h2><div class="chat message-error">sche has 270 seconds left.</div><div class="spacer battle-history"><br></div><div class="battle-history">Ferrothorn, come back!<br></div><div class="battle-history">Go! Hoopa (<strong>Hoopa-Unbound</strong>)!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 장수풍뎅이 used <strong>Close Combat</strong>!<br></div><div class="battle-history"><small>(Hoopa lost <abbr title="−301/301">100%</abbr> of its health!)</small><br></div><div class="battle-history"><small>The opposing 장수풍뎅이's Defense fell!</small><br></div><div class="battle-history"><small>The opposing 장수풍뎅이's Sp. Def fell!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Hoopa fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>The opposing team's Aurora Veil wore off!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! Diancie (<strong>Diancie-Mega</strong>)!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 18</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 장수풍뎅이 used <strong>Close Combat</strong>!<br></div><div class="battle-history"><small>(Diancie lost <abbr title="−139/241">57.7%</abbr> of its health!)</small><br></div><div class="battle-history"><small>The opposing 장수풍뎅이's Defense fell!</small><br></div><div class="battle-history"><small>The opposing 장수풍뎅이's Sp. Def fell!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Diancie fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history">Go! <strong>Ferrothorn</strong>!<br></div><div class="spacer battle-history"><br></div><h2 class="battle-history">Turn 19</h2><div class="spacer battle-history"><br></div><div class="battle-history">The opposing 장수풍뎅이 used <strong>Close Combat</strong>!<br></div><div class="battle-history"><small>It's super effective!</small><br></div><div class="battle-history"><small>(Ferrothorn lost <abbr title="−171/351">48.7%</abbr> of its health!)</small><br></div><div class="battle-history"><small>The opposing 장수풍뎅이's Defense fell!</small><br></div><div class="battle-history"><small>The opposing 장수풍뎅이's Sp. Def fell!</small><br></div><div class="battle-history">[Ferrothorn's Iron Barbs]<br><small>The opposing 장수풍뎅이 was hurt!</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history">Ferrothorn fainted!<br></div><div class="spacer battle-history"><br></div><div class="battle-history"><small>sche forfeited.</small><br></div><div class="spacer battle-history"><br></div><div class="battle-history"><strong>Wendy_LOVE</strong> won the battle!<br></div><div class="chat"><small>☆sche left</small></div><div class="chat"><small>☆sche joined</small></div><div class="chat"><small>☆Wendy_LOVE left</small></div></div><div class="inner-preempt message-log"></div></div></div>
</div>
<script>
let daily = Math.floor(Date.now()/1000/60/60/24);document.write('<script src="https://play.pokemonshowdown.com/js/replay-embed.js?version'+daily+'"></'+'script>');
</script>
